<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Event</title>
  <link rel="stylesheet" href="/creation.css">
</head>
<body>
  <nav>
    <ul class="sidebar">
      <li onclick=hideSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26px" viewBox="0 -960 960 960" width="26px" fill="#ffffff"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li>
      <li><a href="/creation">Event creation</a></li>
      <li><a href="/dashboard" >Dashboard</a></li>
      <li><a href="/discovery" >Event Discovery</a></li>
      <li><a href="/ticketing" >Ticketing</a></li>
      <li><a href="/login" >Login</a></li>
      <li><a href="/register" >Register</a></li>
    </ul>
    <ul>
      <li><a href="#">EMS</a></li>
      <li class="hideOnMobile"><a href="/creation" >Event creation</a></li>
      <li class="hideOnMobile"><a href="/dashboard" >Dashboard</a></li>
      <li class="hideOnMobile"><a href="/discovery" >Event Discovery</a></li>
      <li class="hideOnMobile"><a href="/ticketing" >Ticketing</a></li>
      <li class="hideOnMobile"><a href="/login" >Login</a></li>
      <li class="hideOnMobile"><a href="/register" >Register</a></li>
      <li class="menu-button" onclick=showSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26px" viewBox="0 -960 960 960" width="26px" fill="#ffffff"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
    </ul>
  </nav>

  <script>
    function showSidebar(){
      const sidebar = document.querySelector('.sidebar')
      sidebar.style.display = 'flex'
    }
    function hideSidebar(){
      const sidebar = document.querySelector('.sidebar')
      sidebar.style.display = 'none'
    }
  </script>

    <div class="create-event">
        <form method="POST" action="/event/create">
            <h2>Create Event</h2>

            <p>Event title</p>
            <input type="text" name="title" id="title" required>
            
            <p>Event description</p>
            <textarea name="description" id="description" required></textarea>
            
            <p>Date & Time</p>
            <input type="datetime-local" name="date_time" id="date_time" required>

            <p>Location</p>
            <input type="text" name="location" id="location" required>

            <p>Ticket Price</p>
            <input type="number" name="ticket_price" id="ticket_price" required>

            <button type="submit" value="create">Create Event</button>

            {{#if message}}
            <h4 class="alert alert-danger mt-4">{{message}}</h4>
            {{/if}}
            
        </form>
    </div>
</body>
</html>
