<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Event Management Dashboard</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
  <link rel="stylesheet" href="/dashboard.css">
</head>
<body>
  <nav>
    <ul class="sidebar">
      <li onclick=hideSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26px" viewBox="0 -960 960 960" width="26px" fill="#ffffff"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li>
      <li><a href="/creation">Event creation</a></li>
      <li><a href="/dashboard" >Dashboard</a></li>
      <li><a href="/discovery" >Event Discovery</a></li>
      <li><a href="/ticketing" >Ticketing</a></li>
      <li><a href="/login" >Login</a></li>
      <li><a href="/register" >Register</a></li>
    </ul>
    <ul>
      <li><a href="#">EMS</a></li>
      <li class="hideOnMobile"><a href="/creation" >Event creation</a></li>
      <li class="hideOnMobile"><a href="/dashboard" >Dashboard</a></li>
      <li class="hideOnMobile"><a href="/discovery" >Event Discovery</a></li>
      <li class="hideOnMobile"><a href="/ticketing" >Ticketing</a></li>
      <li class="hideOnMobile"><a href="/login" >Login</a></li>
      <li class="hideOnMobile"><a href="/register" >Register</a></li>
      <li class="menu-button" onclick=showSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26px" viewBox="0 -960 960 960" width="26px" fill="#ffffff"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
    </ul>
  </nav>
  <h3>Event Dashboard</h3><br>

  <div class="container">
    <div class="card">
        <header class="calendar-header">
            <p class="calendar-current-date"></p>
            <div class="calendar-navigation">
                <span id="calendar-prev"
                      class="material-symbols-rounded">
                    chevron_left
                </span>
                <span id="calendar-next"
                      class="material-symbols-rounded">
                    chevron_right
                </span>
            </div>
        </header>
 
        <div class="calendar-body">
            <ul class="calendar-weekdays">
                <li>Sun</li>
                <li>Mon</li>
                <li>Tue</li>
                <li>Wed</li>
                <li>Thu</li>
                <li>Fri</li>
                <li>Sat</li>
            </ul>
            <ul class="calendar-dates"></ul>
        </div>
    </div>

    <div class="card">
      <div class="background img-one"></div>
      <div class="content">
        <h2>Create Event</h2>
        <p>Create your own event</p>
        <a href="/creation" class="btn">Create</a>
      </div>
    </div>

    <div class="card">
      <div class="background img-two"></div>
      <div class="content">
        <h2>Discover</h2>
        <p>Discover events here</p>
        <a href="/discovery" class="btn">Discover</a>
      </div>
    </div>

    <div class="card">
      <div class="background img-three"></div>
      <div class="content">
        <h2>Ticketing</h2>
        <p>Book tickets from here</p>
        <a href="/ticketing" class="btn">Book</a>
      </div>
    </div>

    <div class="card">
      <div class="background img-four"></div>
      <div class="content">
        <h2>About Us</h2>
        <p>Know more about our vision</p>
        <a href="" class="btn">Read More</a>
      </div>
    </div>

  <script>
    function showSidebar(){
      const sidebar = document.querySelector('.sidebar')
      sidebar.style.display = 'flex'
    }
    function hideSidebar(){
      const sidebar = document.querySelector('.sidebar')
      sidebar.style.display = 'none'
    }
  </script>
  <script src="dashboard.js"></script>
</body>
</html>
